.carousel-img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

.slider {
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  color: white;
  height: 350px;
  width: 100%;
}

.box {
  background-color: rgb(251, 253, 251);
  height: 200px;
  width: 150px;
}

.box img {
  height: 170px;
  width: 100%;
}
/*
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}*/
.box h3 {
  text-align: center;
  color: black;
}

.slick-slide div {
  margin: 1rem;
}

.slick-next {
  right: -1px;
  color: black;
}
.slick-prev {
  left: 15px;
  color: black;
}

.service-card {
  height: 100% !important;
}

.service-card .img {
  height: 300px;
  width: 100%;
}
.process {
  height: 100%;
  background-color: #36486b !important;
  color: white;
}

.title {
  margin-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
  font-style: italic;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  margin: auto;
}
